//Bootstrap modificat
$font-family-sans-serif: "Rubik", sans-serif;

$primary: #5265e1;
$secondary: #fa5959;

//Modifiació accordion per hover i active
$accordion-button-active-color: #212529;
$accordion-button-active-bg: #ffffff00;
$accordion-button-focus-box-shadow: #9c141400;
$accordion-icon-active-color: $secondary;
















@import"./node_modules/bootstrap/scss/bootstrap.scss";

